# Laravel
/.env
/vendor/
/node_modules/
/public/build/
/public/hot
/storage/*.key
/storage/framework/
/storage/logs/
/storage/app/public

# OS
.DS_Store
Thumbs.db

# IDE
.vscode/
.idea/
*.suo
*.ntvs*
*.njsproj
*.sln

# Package managers
npm-debug.log*
yarn-error.log*

# VSIX / editor extensions
*.vsix

# Vite
/public/hot

# Ignore build artifacts
/dist
/build
