# Laravel
/.env
/vendor/
/node_modules/
/public/build/
/public/hot
//storage/*.key
//storage/framework/cache/
//storage/framework/sessions/
//storage/framework/views/
//storage/logs/
/storage/app/public/

# OS
.DS_Store
Thumbs.db

# IDE
.vscode/
.idea/
*.suo
*.ntvs*
*.njsproj
*.sln
node_modules
