# Laravel
/hospital-backend/.env
/hospital-backend/vendor/
/hospital-backend/node_modules/
/hospital-backend/public/build/
/hospital-backend/public/hot
/hospital-backend/storage/*.key
/hospital-backend/storage/framework/cache/
/hospital-backend/storage/framework/sessions/
/hospital-backend/storage/framework/views/
/hospital-backend/storage/logs/
/hospital-backend/storage/app/public/

# OS
.DS_Store
Thumbs.db

# IDE
.vscode/
.idea/
*.suo
*.ntvs*
*.njsproj
*.sln
